<div class="container-fluid chatbot mb-5 mt-5 rounded-5 w-50">
  <h1 class="hero-title">DrBot 🤖</h1>
  <div id="questions">
    <%= render @questions %>
  </div>

  <%= render "form", question: @question %>
</div>

