.bg-dark-form {
  background-color: #00427a;
}

.text-info-form {
  color: #ffffff;
}

.bg-primary-form {
  background-color: #003665;
}

.btn-info {
  background-color: #00c1d4;
  border: none;

  &:hover {
    background-color: #009da8;
  }
}

textarea.form-control {
  resize: none;
}

.form-control {
  border-color: #00c1d4;
  width: 8rem !important;
}

.container-fluid {
  align-items: center;
  display: block
}
