.doctors-info {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.bg-turquoise {
  background-color: #00bcd4;
}

.text-light {
  color: #f0f0f0;
}

.text-white {
  color: #ffffff;
}

.fw-bold {
  font-weight: 700;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.fab {
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s ease;

  &:hover {
    color: #255097;
  }
}

.social-icons a {
  text-decoration: none;
  background-color: #00bcd4 !important;
  border-radius: 15px;
  color: none;
  border-radius: 0;
  border: 0;
}

.social-icons a:not(:last-child) {
  margin-right: 15px;
}

.img-doctors{
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
  &:hover {
    transform: translateY(-3px);
  }
}
