.services-section {
  background-color: #f8f9fa;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000 !important;
}

.section-underline {
  width: 80px;
  height: 3px;
  background-color: #00c4cc;
  margin-top: 0.5rem;
  border-radius: 10px;
}

.service-item {
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-7px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
  }
}

.icon-ourservices {
  font-size: 50px;
  color: #00c4cc;
  margin-bottom: 20px;
}

.especial {
  font-size: 50px;
  color: #255097;
  margin-bottom: 20px;
}

.service-title-home {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000;
}

.service-description {
  font-size: 0.95rem;
  color: #6c757d;
  font-weight: 400;
}

.border {
  color: gray;
  border-radius: 25px;
  padding: 2px;
}
