<!-- Footer -->
<footer class="bg-primary-footer text-white mb-0 footer">
  <div class="container pb-1">
    <div class="row">
      <div class="col-md-3 ">
        <h5 class="fw-bold">Salud <span class="text-success">Integral</span></h5>
        <hr class="bg-white mb-3 mt-1" style="width: 60px; height: 2px;">
        <p>Conoce tu cuerpo. Tu salud, en tus manos. Vive una vida sexual y mental en total plenitud, crezcamos de la mano y marquemos la diferencia.</p>
        <div class="d-flex gap-2">
          <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white"><i class="fab fa-facebook"></i></a>
          <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <h5 class="fw-bold">Servicios</h5>
        <hr class="bg-white mb-3 mt-1" style="width: 60px; height: 2px;">
        <ul class="list-unstyled">
          <li>Educación Sexual</li>
          <li>Terapia Sexual</li>
          <li>Salud Mental</li>
          <li>Salud Sexual</li>
          <li>Depresión</li>
        </ul>
      </div>

      <div class="col-md-3 mb-4">
        <h5 class="fw-bold">Contactos</h5>
        <hr class="bg-white mb-3 mt-1" style="width: 60px; height: 2px;">
        <p><strong>Location:</strong> Av. El Sol - 254</p>
        <p><strong>Email:</strong> info@example.com</p>
        <p><strong>Support:</strong> +51 900 912 854</p>
      </div>

      <div class="col-md-3 mb-4">
        <img src="https://i.ibb.co/Hx7WXCs/1.png" alt="Elevate Logo" style="height: 200px; width: auto;">
      </div>

    <div class="row">
      <div class="col text-center">
        <p class="mb-0">&copy; ELEVATE. Derechos reservados</p>
      </div>
    </div>
  </div>
</footer>
