
<section class="hero-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="hero-title">Descubre, aprende y crece en un espacio seguro creado para ti.</h1>
        <p class="hero-text">Bienvenido a un lugar donde puedes explorar información confiable sobre salud sexual y mental. Aquí encontrarás orientación profesional, recursos educativos y un foro para compartir tus dudas de manera anónima.</p>
        <div class="button-group mt-4">
          <%= link_to "Salud Sexual", posts_path(category: "salud_sexual"), class: "btn btn-primary btn-lg" %>
          <span class="mx-2">ó</span>
          <%= link_to "Salud Mental", posts_path(category: "salud_mental"), class: "btn btn-primary btn-lg" %>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img src="https://images.pexels.com/photos/7176029/pexels-photo-7176029.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Doctors Team" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section class="services-section py-5">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="section-title">Nuestros Servicios</h2>
      <div class="section-underline mx-auto"></div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center border">
        <div class="service-item">
          <i class="fa-solid fa-fire icon-ourservices especial"></i>
          <h5 class="service-title">Salud Sexual</h5>
          <p class="service-description">La salud sexual consiste en el <strong>bienestar</strong>, y no meramente en la ausencia de enfermedad. La salud sexual implica el respeto, la seguridad y la libertad frente a la discriminación y la violencia.</p>
        </div>
      </div>
      <div class="col-md-4 text-center border">
        <div class="service-item">
          <i class="fa-solid fa-brain icon-ourservices especial"></i>
          <h5 class="service-title">Salud Mental</h5>
          <p class="service-description">La salud mental es un estado de bienestar mental que permite a las personas hacer frente a los momentos de estrés de la vida, desarrollar todas sus habilidades, poder aprender y trabajar adecuadamente y contribuir a la mejora de su comunidad.</p>
        </div>
      </div>
      <div class="col-md-4 text-center border">
        <div class="service-item">
          <i class="fa-solid fa-comment icon-ourservices"></i>
          <h5 class="service-title">Consultas con especialistas</h5>
          <p class="service-description">La consulta médica especializada es aquella consulta atendida por personal médico con <strong>especialidad certificada por el Ministerio de Educación</strong>, brindado calidad en la atención y brindando integridad en la atención a los usuarios.</p>
        </div>
      </div>
      <div class="col-md-4 text-center border">
        <div class="service-item">
          <i class="fa-regular fa-message icon-ourservices"></i>
          <h5 class="service-title">Foro de consultas</h5>
          <p class="service-description">Nuestro foro abierto de consultas es un <strong>espacio abierto para poder consultar con libertad</strong> en cualquiera de nuestras categorias, recibe respuestas de expertos o de la comunidad misma, todos nos ayudamos. Crezcamos juntos.</p>
        </div>
      </div>
      <div class="col-md-4 text-center border">
        <div class="service-item">
          <i class="fa-solid fa-robot icon-ourservices"></i>
          <h5 class="service-title">Chatbot con IA</h5>
          <p class="service-description"><strong>Realiza consultas detalladas sin miedo a ser juzgado</strong>, o pregunta por nuestros especialistas, horarios de atención, disponibilidad o preguntas abiertas que no deseas abordar en grupo.</p>
        </div>
      </div>
      <div class="col-md-4 text-center border">
        <div class="service-item">
          <i class="fa-solid fa-robot icon-ourservices"></i>
          <h5 class="service-title">Información detallada</h5>
          <p class="service-description">Brindamos información especializada y detallada para tu aprendizaje en temas de <strong>Salud Sexual</strong> y <strong>Salud Mental</strong>, desde informes, infografías y videos de organizaciones mundiales que apoyan esta causa.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid bg-dark-form text-white py-5 d-flex justify-content-center">
  <div class="row align-items-center w-60">
    <div class="col-lg-6 mb-4 text-center">
      <h2 class="fw-bold mb-3">¿Cuándo estamos disponibles?</h2>
      <p class="text-info-form">
        <strong>Tu salud sexual y mental no descansan</strong>, estamos disponibles las 24/7 en línea, dispuesto a crecer contigo.
      </p>
      <p class="text-info-form">
        Los principales casos de embarazos no deseados y suicidios siguen en aumento, aquí estamos para darte una mano profesional.
      </p>
      <div class="visit-hours mt-4">
        <p class="mb-2"><strong>Lunes a Viernes</strong></p>
        <p class="text-info-form">9:15 am – 9:30 pm</p>
        <p class="mb-2 mt-4"><strong>Sábados y Domingos</strong></p>
        <p class="text-info-form">9:15 am – 1:00 pm</p>
      </div>
    </div>

    <div class="col-lg-6 d-flex justify-content-center">
      <div class="bg-primary-form p-4 rounded w-100">
        <h2 class="fw-bold text-white text-center">Reserva una cita</h2>
        <form>
          <div class="text-white mb-3">
            <input type="text" class="form-control" placeholder="Nombre" required />
          </div>
          <div class="text-white mb-3">
            <input type="email" class="form-control" placeholder="Email" required />
          </div>
          <div class="text-white mb-3">
            <input type="text" class="form-control" placeholder="Tema a tratar" required />
          </div>
          <div class="mb-3">
            <input class="form-control" type="date" placeholder="dd/mm/aaaa" class="form-control" required />
          </div>
          <div class="mb-3">
            <textarea class="form-control" rows="3" placeholder="Descripción" required></textarea>
          </div>
          <button type="Enviar" class="col-lg-4 btn btn-info text-white fw-bold">
            Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Doctores hola -->
<div class="doctors-info container-fluid bg-turquoise py-5">
  <div class="text-center mb-5">
    <h2 class="text-white fw-bold">Especialistas de la salud</h2>
    <p class="text-light">
      Comprometidos con tu salud sexual y mental, somos profesionales del Colegio de Médicos, avalados y certificados.
    </p>
  </div>
  <div class="row text-center">
    <div class="col-lg-4">
      <img src="https://images.pexels.com/photos/3714743/pexels-photo-3714743.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Dr. Sresha Jenol" class="mb-3 img-doctors" width="200" height="300">
      <h4 class="text-white fw-bold">Dr. Wanda Maximoff</h4>
      <p class="text-light">Sexólogo</p>
      <div class="social-icons">
        <a href="#" class="text-light me-3"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="col-lg-4">
      <img src="https://images.pexels.com/photos/5215024/pexels-photo-5215024.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Dr. Jevgen Kore" class="mb-3 img-doctors" width="200" height="300">
      <h4 class="text-white fw-bold">Dr. Natasha Romanoff</h4>
      <p class="text-light">Sexólogo</p>
      <div class="social-icons">
        <a href="#" class="text-light me-3"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="col-lg-4">
      <img src="https://images.pexels.com/photos/7578806/pexels-photo-7578806.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Dr. Nesur Khohla" class="mb-3 img-doctors" width="200" height="300">
      <h4 class="text-white fw-bold">Dr. May Parker</h4>
      <p class="text-light">Psicólogo</p>
      <div class="social-icons">
        <a href="#" class="a text-light me-3"><i class="fab fa-facebook"></i></a>
        <a href="#" class="a text-light me-3"><i class="fab fa-twitter"></i></a>
        <a href="#" class="a text-light"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</div>

<div id="testimonialsCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active text-center">
      <h5 class="text-success">Testimonios</h5>
      <h2 class="fw-bold">Lo que dicen nuestros usuarios</h2>
      <p class="fst-italic">
        "No sabía nada de mi sexualidad y de sexo, gracias a ELEVATE puedo tener salud plena en mi sexualidad y conseguridad. Gracias a los sexólogos expertos."
      </p>
      <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="mx-auto d-block" alt="User 1" width="200" height="200">
      <p class="mt-3 fw-bold">Peggy Carter</p>
      <p class="text-muted">Usuario</p>
    </div>
    <div class="carousel-item text-center">
      <h5 class="text-success">Testimonios</h5>
      <h2 class="fw-bold">Lo que dicen nuestros usuarios</h2>
      <p class="fst-italic">
        "Tenía problemas de ansidad y mucho más. Gracias a ELEVATE, pude acceder a consultas con psicólogos expertos, ahora me encuentro muy bien. Gracias ELEVATE."
      </p>
      <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="mx-auto d-block" alt="User 2" width="200" height="200">
      <p class="mt-3 fw-bold">Tony Stark</p>
      <p class="text-muted">Usuario</p>
    </div>
    <div class="carousel-item text-center">
      <h5 class="text-success">Testimonios</h5>
      <h2 class="fw-bold">Lo que dicen nuestros usuarios</h2>
      <p class="fst-italic">
        "Tengo mucho buscando una plantaforma donde me puedan orientar sobre salud sexual sin juzgarme, ahora lo encontré gracias a ELEVATE. Puedo estar segura de consultar y aprender."
      </p>
      <img src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="mx-auto d-block" alt="User 3" width="170" height="200">
      <p class="mt-3 fw-bold">Bruce Banner</p>
      <p class="text-muted">Usuario</p>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#testimonialsCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#testimonialsCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container-numbers-principal">
  <div class="container container-numbers text-center py-5 bg-gray">
    <h2 class="mb-3">Nuestros datos</h2>
    <p class="mb-5">
      Muchas personas confian en nosotros, y hacemos un cambio de impacto en la sociedad. Aprender para enseñar, crecer y ser libre. Somo ELEVATE, educación integral en salud sexual y salud mental.
    </p>
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card shadow border-0">
          <div class="card-body">
            <i class="fa-solid fa-thumbs-up icon-ourservices-data"></i>
            <h3 class="text-primary data">406+</h3>
            <p class="text-muted">Usuarios satisfechos</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card shadow border-0">
          <div class="card-body">
            <i class="fa-solid fa-award icon-ourservices-data"></i>
            <h3 class="text-primary data">4+</h3>
            <p class="text-muted">Premios obtenidos</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card shadow border-0">
          <div class="card-body">
            <i class="fa-solid fa-handshake-angle icon-ourservices-data"></i>
            <h3 class="text-primary data">52+</h3>
            <p class="text-muted">Casos resueltos</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card shadow border-0">
          <div class="card-body">
            <i class="fa-solid fa-face-laugh-wink icon-ourservices-data"></i>
            <h3 class="text-primary data">15+</h3>
            <p class="text-muted">Años de experiencia</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>