.banner-container {
  position: relative;
  width: 100%;
  height: 300px; /* Ajusta la altura del banner según tus necesidades */
  overflow: hidden; /* Asegura que el contenido extra no se vea */
}

.banner-image {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 100%; /* Ajusta la altura para que ocupe el contenedor */
  object-fit: cover; /* Corta la imagen proporcionalmente para ajustarse al tamaño del banner */
}
