.navbar-lewagon {
  position: sticky;
  z-index: 1000;
  height: 80px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-between;
  background: #f4f7fc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5px 5px;
  border-radius: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-nav {
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-left: 20px;
}

.navbar-lewagon .navbar-nav .nav-link {
  color: #00AEEF;
  font-weight: 600;
  padding: 5px 10px;
  transition: all 0.3s ease;
  border-radius: 8px;
  margin-right: 15px;
}

.navbar-lewagon .navbar-nav .nav-link:hover {
  background-color: #f0f0f0;
  color: #074799;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-lewagon .navbar-toggler-icon {
  background-color: white;
}
body {
  padding-top: 100px;
}

@media (max-width: 768px) {
  .navbar-lewagon {
    padding: 10px;
    border-radius: 0;
  }
}

.navbar-lewagon {
  position: static;
  width: 100%;
  height: 80px;
  background: #f4f7fc;
  box-shadow: none;
  padding: 10px 20px;
  border-radius: 0;
  transition: all 0.3s ease;
}

.navbar-lewagon.navbar-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  padding: 5px 15px;
  z-index: 1000;
}

@media (max-width: 768px) {
  .navbar-lewagon {
    height: 70px;
    padding: 10px;
  }
  .navbar-lewagon.navbar-scrolled {
    transition: transform 7.0s;
  }
}
